.menu-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 10px;
}

.even {
  background-color: #f9f9f9; /* Cor para linhas pares */
}

.menu-item p {
  margin-bottom: 0;
}

.menu-item h4 {
  font-size: 1.5rem;
  color: #333; /* Cor do nome do prato */
  margin-bottom: 5px;
}

.menu-item .description {
  font-size: 1rem;
  color: #555; /* Cor da descrição do prato */
  margin-bottom: 10px;
}

.menu-item .info {
  font-size: 1.2rem;
  color: #777; /* Cor das informações (valor e serve) */
}
.body{
  background-color: red;
}